


*{
    text-align: center;
    box-sizing:border-box;
    
}
body {
    margin:0 auto;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header {
    margin-top:10px;
    background: #ebebeb;
    text-align: center;
    margin-bottom: 20px;
    padding: 35px;
    color: #777;
}

nav{
    margin-bottom: 20px;
    background: #ebebeb;
    text-align: center;
    padding: 35px;
    color:#777;
}

section{
    float: left;
    width: 495px;
    height: 208px;
    text-align: center;
    background: #ebebeb;
    color:#777;
    font-size:15pt;
    margin-bottom:20px;
     
}
#TP {
    background: #ebebeb;
    margin:10px;
    color:#ebebeb;
    padding: 3px;
    font-size: 18px;
    
}

#h1{
    background: #ebebeb;
    background-color: #777;
    margin: 10px;
    color:white;
    padding: 13px;
}

#pp{
    background: #ebebeb;
    background-color:#777;
    margin: 10px;
    color:white;
    padding: 13px;
    text-align:center;
}
aside{
    float:right;
    background: #ebebeb;
    width: 405px;
    height: 208px;
    color:#777;
    font-size: 18px;

}
footer{
    clear: both;
    margin-top: 40px;
    background: #ebebeb;
    padding: 35px;
    width: 100%;
    color: #777;
    font-size: 15pt;

}